# Ignore Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/
# Allow specific notebooks
!Result_natural_face.ipynb
!toy_model_comparison_cross_star.ipynb


# Ignore specific root folders
data/
checkpoints/
__pycache__/
*.pyc

# Ignore wandb folders anywhere in the repo
wandb/

# Figures (generated outputs)
figures/

# ----------------------------------------------------
# Pretrained Model exclusions and specific inclusions
# ----------------------------------------------------
# 1. Ignore everything in pretrained_model by default
pretrained_model/*

# 2. scaling-new-face: allow folder + specific checkpoints
!pretrained_model/scaling-new-face/
pretrained_model/scaling-new-face/*
!pretrained_model/scaling-new-face/00006_layer1_unet_small_edm_large_noattn/
!pretrained_model/scaling-new-face/00024_simplify_layer1_neural_sheet7_intra_film_scalar_mul_ff_scale_large_large_noise/
!pretrained_model/scaling-new-face/00026_simplify_layer1_neural_sheet7_intra_film_scalar_mul_ff_scale_large_large_noise_simple_control/
!pretrained_model/scaling-new-face/00027_simplify_layer1_neural_sheet7_intra_film_scalar_mul_ff_scale_large_small_noise_long_iter/
!pretrained_model/scaling-new-face/00028_simplify_layer1_neural_sheet7_intra_film_scalar_mul_ff_scale_large_large_noise_swilu/
!pretrained_model/scaling-new-face/00029_layer1_unet_small_edm_large_noattn/

# 3. scaling-VH-new-2: allow folder + specific checkpoints
!pretrained_model/scaling-VH-new-2/
pretrained_model/scaling-VH-new-2/*
!pretrained_model/scaling-VH-new-2/00008_simple_sheet7_simple_control_small_noise_long_iter/
!pretrained_model/scaling-VH-new-2/00033_layer1_unet_small_edm_noatt/
